@charset "UTF-8";
/*width*/
/*$card-height: 100%*/
div div div .imgEsparcible {
  width: 300px;
  height: 300px; }

/*seccion chocolate*/
.body-chocolate {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

div {
  /* .tarjeta{
        @include sizeChocolate (100%, 100%);
        background-color: beige;
        overflow: hidden;
        width: 100%;
        @include flexChocolate; */ }
  div .nuevaImagen {
    position: relative;
    min-width: 60%;
    width: 60%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }

/*}*/
section {
  background: #eedead;
  background-image: linear-gradient(135deg, #bdba9e 20%, #eedead 100%);
  background-attachment: fixed;
  background-size: cover;
  /* product image  */ }
  section #contenedorChocolate {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: #eedead;
    border-radius: 5px;
    margin: 5em auto;
    text-align: center;
    overflow: hidden;
    width: 740px;
    height: 380px; }
  section .product-details {
    position: relative;
    float: left;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    width: 40%;
    height: 100%; }
  section #contenedorChocolate .product-details > p {
    text-align: center;
    font-size: 22px;
    color: black; }
  section .control {
    position: absolute;
    bottom: 10%;
    left: 22.8%; }
  section .btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #159444;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0; }
  section .btn:hover {
    transform: translateY(-4px); }
  section .btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0; }
  section .btn .price, section .shopping-cart {
    background: #52ac74;
    width: 0;
    height: 0; }
  section .btn .price {
    transform: translateX(-10%);
    padding-right: 15px; }
  section .btn .buy {
    z-index: 3;
    font-weight: bolder; }
  section .btn:hover .price {
    transform: translateX(-110%); }
  section .btn:hover .shopping-cart {
    transform: translateX(0%); }
  section .product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: inline-block; }
  section #contenedorChocolate img {
    width: 100%;
    height: 100%; }
  section .info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }
  section .product-image:hover img {
    transition: all 0.3s ease-out; }
  section .product-image:hover img {
    transform: scale(1.2, 1.2); }

/*width*/
/*$card-height: 100%*/
div div div .imgEsparcible {
  width: 300px;
  height: 300px; }

/*seccion esparcibles*/
/*.ecommerce {  
    @include ecommerceEsparcibles;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "productoUno productoDos productoTres"
      "productoCuatro productoCinco productoSeis"
      "productoSiete productoOcho productoNuevo";
  }*/
button {
  background-color: #bdba9e;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: #eedead;
  cursor: pointer; }

button:active {
  color: white;
  transform: translateY(0.2rem); }

button:hover:not(:disabled) {
  background: #159444;
  color: white; }

button:disabled {
  cursor: auto;
  color: grey; }

/*width*/
/*$card-height: 100%*/
div div div .imgEsparcible {
  width: 300px;
  height: 300px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del primer contenedor: HEADER*/
header {
  font-family: 'Poppins', sans-serif;
  background-color: #94cc3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px; }
  header .carrito {
    margin-right: 50px;
    width: 3%;
    height: 3%; }
  header nav div {
    /*Linea de tiempo de la animación*/ }
    header nav div .logo {
      /* estructura espacial del logo */
      margin: 5px;
      margin-left: 50px;
      width: 10%;
      /*Propiedades de la animacion*/
      animation-name: focalizacion;
      animation-duration: 4s;
      animation-delay: 1s; }

@keyframes focalizacion {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
    header nav div button .navbar-toggler-icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: middle;
      background-image: var(--bs-navbar-toggler-icon-bg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      color: #159444; }
    header nav div div .menu {
      display: flex;
      display: inline-flex;
      justify-content: flex-end;
      list-style: none;
      margin: 10px;
      font-size: 1rem; }

/*estilos del segundo contenedor: MAIN*/
main {
  /* DESKTOP display: grid; 
   grid-template-columns: repeat(3, 1fr);*/
  font-family: 'Poppins', sans-serif;
  /*height: 60vh;*/
  padding: 2%;
  gap: 2%;
  align-items: center;
  font-size: 1.5rem; }
  main .seccion {
    width: 100%;
    transition: 3s; }
  main .seccion:hover {
    transform: scale(0.9);
    opacity: 70%;
    transition: 5s; }
  main h1 {
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px black;
    /*background-color: brown;*/ }
  main div div .proporcion {
    width: 70%; }
  main div div .achica {
    width: 55%;
    align-items: center; }
  main div p {
    font-size: 6 rem; }

.itemFixed {
  position: fixed;
  width: 6%;
  height: 8%;
  bottom: 0;
  right: 0;
  /*PROPIEDADES DE LA ANIMACIÓN */
  animation-name: focalizacion;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s; }

.vector {
  transform: translate(80px);
  width: 40%; }

/* uso de medias queries para mobile
    @media screen and (min-width: 600px){
        main{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 33%);
        }
    }

    @media screen and (min-width: 1200px){
        main{
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: auto;
            box-shadow: rgb(0, 0, 0);
        }
    }
    */
/*CHOCOLATES*/
div {
  /*LINEA DE TIEMPO DE LA ANIMACION*/ }
  div .nuevaImagen {
    width: 100%;
    /*PROPIEDADES DE LA ANIMACIÓN */
    animation-name: mantenimientos;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 1s; }

@keyframes mantenimientos {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.2);
    transform-box: fill-box; }
  100% {
    transform: scale(1); } }

/*SUSCRIPCIONES*/
section {
  font-family: 'Poppins', sans-serif;
  margin: 12px;
  padding: 20px; }

/*estilos del tercer contenedor: FOOTER*/
footer {
  font-family: 'Poppins', sans-serif;
  padding: 22px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 1fr;
  background-color: #94cc3c;
  justify-content: center;
  margin-block-end: auto; }
  footer div .pie {
    margin: 3px; }
  footer div img {
    margin-top: 30px;
    width: 70%; }
  footer div .iconosFooter {
    display: flex;
    display: inline-flex;
    list-style: none; }
  footer div ul .icono {
    width: 45px;
    height: 44px;
    transform: translate(15px); }
  footer div .hablemos {
    display: flex;
    display: inline-flex;
    list-style: none; }
