//importancion de archivos para que no explote.
@import "../utilidades/mixin";
@import "../utilidades/vars";
@import "../utilidades/extend";

/*seccion esparcibles*/
/*.ecommerce {  
    @include ecommerceEsparcibles;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "productoUno productoDos productoTres"
      "productoCuatro productoCinco productoSeis"
      "productoSiete productoOcho productoNuevo";
  }*/
  
  div{
    div{
        div {
        .imgEsparcible{
          @extend %sizeEsparcibles;
      }
    }
    }
  }

  button {
    background-color: $color-tarjeta;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: $color-cuaterniarioPleta;
    cursor: pointer;
  }
   
   button:active {
    color: white;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: $color-botonSecundario;
    color: white;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }