$color-cabecera: #94cc3c;
$color-botonSecundario:#159444;
$color-footer: rgb(252, 249, 198);

$color-terciarioPaleta: #52ac74;
$color-cuaterniarioPleta: #eedead;
$color-tarjeta: #bdba9e;


$card-seccion: 70% /*width*/
/*$card-height: 100%*/